*{
  margin:0;
  padding:0;
}
html,body{
  height:100%;
}
body{
  font-family:"microsoft yahei";
}
h2{
  font-size: 24px;
  text-align: center;
}
h3 {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
li {
  font-size: 18px;
  line-height: 26px;
  width: 280px;
  margin: 0 auto;
}
p {
  text-align: center;
  padding: 0 10px;
}
.swiper-container {
  /*  width: 320px;
    height: 480px;*/
  width: 100%;
    height: 100%;
  background:#000;
}  

.swiper-slide{
  width:100%;
  height:100%;
  background:url('http://7xpdil.com1.z0.glb.clouddn.com/bg.jpg') repeat;
  background-size:100% 100%;

}
.swiper-slide6 p {
  line-height: 30px;
}
img{
  display:block;
}
.swiper-pagination-bullet {
width: 6px;
height: 6px;
background: #fff;
opacity: .4;
}
.swiper-pagination-bullet-active {
opacity: 1;
}
@-webkit-keyframes start {
  0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
  0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
  60% {opacity: 1;-moz-transform: translate(0,0);}
  100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
  0%,30% {opacity: 0;transform: translate(0,10px);}
  60% {opacity: 1;transform: translate(0,0);}
  100% {opacity: 0;transform: translate(0,-8px);}
}
.ani{
  position:absolute;
  }
.txt{
  position:absolute;
}
#array{
  position:absolute;z-index:999;-webkit-animation: start 1.5s infinite ease-in-out;
}
.ready-bg {
  width: 200px;
  margin: 0 auto;
}
.school-bg {
  width: 320px;
  margin: 0 auto;
}