<div class="diandi-page">
	<div class="bar-top">
		<div class="write-mark">
			<img src='img/write.png'/>
		</div>
		<div class="love-me">
			<img src='img/love.png'/>
		</div>
	</div>
	<div class="toor-bar">
		<div class="mine-mark">我的心情</div>
		<div class="about-friends">好友动态</div>
		<div class="about-mine">与我相关</div>
	</div>
	<div class="flex-box">
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>刚刚</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>我不知道有没有人会看到这里，也许我把女生主动跟我聊天就感觉人家对我有好感是错误的。因为我是我喜欢的人才会多跟她聊天。所以有时候我很害怕，害怕就这样喜欢上一个人，到最后伤害的还是自己。更可怕的是明明知道结果，却还是控制不住自己。</p>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>刚刚</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>没有谁可以否定你！就像天上的一朵云，如果有人觉得好看，那就是好看，如果有人觉得不好看，那就是不好看。对它自己来说，都是独一无二的存在。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/013.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>刚刚</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>你要习惯任何人的忽冷忽热，也要看淡任何人的渐行渐远。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/012.JPG'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>刚刚</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>无论你期望还是不期望，清晨依旧来临。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/011.gif'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>你嘲笑我朋友很少只身一人，我可怜你朋友众多无一真心。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/010.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>Sometimes in life when all hope is gone 
and you feel like you're on your own 
true friend comes a long and makes you realize 
that everything is ok 
in the last year that I've gone through 
I have many up's and down's 
But no matter what you guys stood by my side 
And that's why I dedicate this song to you 
my best friends.</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/009.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p></p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/008.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>一开始不喜欢你的人，即便是努力追到了，心里也总会感觉怪怪的。所以，就不要浪费时间在这种事情上了。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/007.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>有些事现在不做，一辈子都不会做。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/006.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>1分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>时光不会倒着走，而我也不会再回头。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/001.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>5分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>有些痛，忍忍就过了，有些麻烦，忍忍就解决了，有些话，忍忍就不想说了，有些爱，忍忍就不想爱了，有些人，忍忍就不想等了。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/003.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>10分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>你说你来自草长莺飞的季节。
我却一直以为你是我那年看到的蒹葭。
你为他们唱过歌，写过字。
我那时太小，没遇见他们，还有你。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/002.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>20分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>交许许多多的朋友不是什么奇迹。真正的奇迹是当所有人都弃你而去的时候，还有一个朋友坚定的站在你一边。</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/004.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
		<div class="note-card">
			<div class="note-top">
				<figure>
					<div>
						<img src='http://7xpdil.com1.z0.glb.clouddn.com/user.jpg'/>
					</div>
					<figcaption>
						゛Best丶Friends
					</figcaption>
					<span>30分钟前</span>
				</figure>
			</div>
			<div class="note-mid">
				<p>很喜欢的一句话：“为什么有些人明明看起来友善，却总是独来独往？” “待人友善是修养，独来独往是性格。”</p>
				<img src='http://7xpdil.com1.z0.glb.clouddn.com/005.jpg'/>
			</div>
			<div class="note-bot">
				<div class="note-bot-left">
					<div class="note-liked">
						<img src='img/liked.png'/>
						<span>12</span>
					</div>
					<div class="note-views">
						<img src='img/view.png'/>
						<span>186</span>
					</div>
				</div>
				<div class="note-bot-right">
					<div class="note-like">
						<img src='img/like.png'/>
					</div>
					<div class="note-mark">
						<img src='img/mark.png'/>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
