<div class="top">
  <div class="user-box">
    <div class="user-box-circle">
      <div class="user-box-rotater">
        <div class="user-box-rotater-item">
          <i class="fa fa-camera-retro"></i>
        </div>
      </div>
      <div class="user-box-rotater">
        <div class="user-box-rotater-item">
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="user-box-rotater">
        <div class="user-box-rotater-item">
          <i class="fa fa-send-o"></i>
        </div>
      </div>
      <div class="user-box-rotater">
        <div class="user-box-rotater-item">
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div class="user-box-cont">
      <img src="http://7xpdil.com1.z0.glb.clouddn.com/user.jpg" class="user-box-cont-img">
      <span class="user-box-cont-edit js-edit">
        <i class="fa fa-ellipsis-h"></i>
      </span>
    </div>
    <div class="user-box-info">
      <p>゛Best丶Friends<img src="img/boy.png"/></p>
      <p class="motto">True friend comes a long and makes you realize that everything is ok</p>
    </div>
  </div>
</div>
